:root {
    --gray: #4d4d4d;
    --light_gray: #263238;
    --green: #53bb21;
    --red: #b71c1c;
    --blue: #252dd8;
    --dark_blue: #64748b;
    --purple: #603763;
    --brown: #9a633a;
    --yellow: #ccb800;
    --orange: #b44b00;
    --black: #0d0d0d;
}
